*,
*::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2,
h3, h4,
h5, h6 {
    /* word-wrap: break-word;
    overflow-wrap: break-word; */
    text-wrap: balance; 
} 

p,
li,
figcaption {
    max-width: 65ch;
    text-wrap: pretty;
    /* word-wrap: break-word;
    overflow-wrap: break-word; */
}

img,
picture,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  background: none;
  border-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/manrope-v20-latin-500.woff2);
}

@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/manrope-v20-latin-700.woff2);
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Manrope", serif;
    overflow-x: hidden;
    width: 100%;
    background-color: #e9e9f7;
}

.profile-card,
.about-page-container,
.contact-page-container {
    max-width: 324px;
    margin: 0 auto;
}

.profile-card{
    background-color: hsl(250, 30%, 97%);
    border: 1px solid rgb(212, 209, 209);
    border-radius: 12px;
    margin-top: 60px;
    margin-bottom: 50px;
}

.profile-card-header {
    width: 100%;
    background: linear-gradient(135deg, hsl(280 60% 65%), hsl(250 70% 60%));
    text-align: center;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    color: #FFFFFF;
    padding: 16px;
    font-size: 0.84rem;
}

.avatar-upload {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    width: 45%;
    font-size: .7rem;
    margin: 0 auto;
    padding-bottom: 2px;
    margin-top: 4px;
    opacity: 0;
    transition: opacity 330ms ease-in-out;
}

.profile-user-avatar {
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 40px;
    object-fit: cover;
    border: 4px solid rgba(255, 255, 255, 0.2);
    transition: transform 300ms;

}

.profile-user-avatar:hover {
    transform: scale(1.02);
    cursor: pointer;
}

.profile-user-avatar:hover + .avatar-upload {
    opacity: 1;
}

.profile-user-name {
    margin-bottom: 10px;
    word-wrap: break-word;          
    overflow-wrap: break-word;
}

.profile-user-title {
    padding: 0.25rem 0.25rem 0.4rem 0.25rem;
    border: 1px solid gray;
    width: 250px;
    margin: auto;
    border-radius: 15px;
    background-color: hsla(0, 0%, 100%, 0.1);
    font-size: 0.84rem;
    /* margin-bottom: 10px; */
}

.profile-card-content {
    padding: 26px;
}

.profile-user-bio {
    line-height: 1.5;
    font-size: 0.82rem;
    margin-bottom: 20px;
    font-weight: 500;
}

.profile-info-links {
    display: flex;
    gap: 15px;
    margin-bottom: 24px;
}

.profile-info-link-item {
    list-style-type: none;
    padding: 6px 9px;
    border-radius: 8px;
    border: 1px solid rgb(211, 207, 207);
    background: #f1f1f4;
    font-size: 0.73rem;
    transition: all 0.3s ease-in-out;
}

.profile-info-link:focus {
    outline: 1px solid #B56FDB;
    outline-offset: 6px;
    border-radius: 4px;
}

.profile-info-link:focus-visible {
    outline: 3px solid #B56FDB;
    outline-offset: 6px;
}

.profile-info-link-item:hover {
    cursor: pointer;
    background: #B56FDB;
    border-color: #B56FDB;
    color: white;
}

.fa-solid {
    margin-right: 5px;
}

.profile-user-social {
    margin-bottom: 30px;
}

.social-title {
    border-left: 4px solid;
    border-image: linear-gradient(135deg, hsl(250, 70%, 60%), hsl(280, 60%, 65%)) 1;
    padding-left: 8px;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 13px;
    word-wrap: break-word;          
    overflow-wrap: break-word;
}

.profile-user-social-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.profile-user-social-item {
    list-style: none;
    padding: 7px;
    border-radius: 8px;
    background: #E8E8EE;
    font-size: 0.7rem;
    transition: all 0.2s ease-in-out;
}

.profile-user-social-link:focus {
    outline: 3px solid #6C52E0;
    outline-offset: 4px;
    border-radius: 4px;
}

.profile-user-social-link:focus-visible {
    outline: 3px solid #6C52E0;
    outline-offset: 4px;
}

.profile-user-social-item:hover {
    background: #6C52E0;
    color: #FFFFFF;
    cursor: pointer;
}

.profile-user-hobbies,
.profile-user-dislikes {
    width: 90%;
}

.hobbies-title,
.dislikes-title {
    border-left: 4px solid;
    border-image: linear-gradient(135deg, hsl(250, 70%, 60%), hsl(280, 60%, 65%)) 1;
    padding-left: 8px;
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 10px;
    word-wrap: break-word;          
    overflow-wrap: break-word;
}

.dislikes-title {
    border-image: linear-gradient(135deg, hsl(14, 79%, 55%), hwb(17 53% 10%)) 1;
}

.hobbies-list li,
.dislikes-list li {
    font-size: 0.8rem;
    max-width: 100%;                
    word-wrap: break-word;          
    overflow-wrap: break-word; 

} 

.hobbies-list,
.dislikes-list {
    padding-left: 20px;
    list-style-type: none;
    column-count: 2;  
    column-gap: 18px;  
}

.hobbies-list {
    margin-bottom: 20px;
}

.hobbies-list li::before,
.dislikes-list li::before {
  content: "•";
  font-size: 1rem;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.hobbies-list li::before {
  background: linear-gradient(135deg, hsl(250, 70%, 60%), hsl(280, 60%, 65%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dislikes-list li::before {
  background: linear-gradient(130deg, hsl(14, 79%, 55%), hsl(17, 70%, 60%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* About Page */

.back {
    margin-bottom: 15px;
    font-size: 0.78rem;
    opacity: .65;
}

.back:hover {
    opacity: 1;
}

.back-link:focus {
    outline: 2px solid #a036d8;
    border-radius:3px;
    padding: 3px;
}

.about-page-heading {
    margin-bottom: 18px;
    font-size: 1.5rem;
}

.about-page-container {
    border: 1px solid gray;
    border-radius: 12PX;
    background-color: hsl(250, 30%, 97%);
    padding: 26px;
    font-size: 0.82rem;
    opacity: .8;
    margin-bottom: 50px;
    margin-top: 50px;
}

.about-section {
    margin-bottom: 40px;
    margin-right: 18px;
}

.about-heading {
    border-left: 4px solid;
    border-color: #B56FDB;
    padding-left: 9px;
    font-weight: 600;
    font-size: 1.15rem;
    margin-bottom: 13px;
    word-wrap: break-word;          
    overflow-wrap: break-word;
}

.about-bio-content,
.about-goals-list,
.about-confidence-list,
.about-future-note-content {
    margin-bottom: 18px;
    max-width: 98%;
    word-wrap: break-word;          
    overflow-wrap: break-word; 
}

.about-extra-content {
    max-width: 95%;
}

.about-confidence-list li,
.about-goals-list li,
.confidence-detail {
    max-width: 98%;
}

.about-goals-list {
    padding-left: 22px;
}

.about-goals-list li {
    margin-bottom: 6px;
}

.about-confidence-list {
    list-style: none;
}

.about-confidence-list li {
    background-color: #F6F6F8;
    padding: 9px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
}

.confidence-detail {
    font-size: 0.75rem;
}

.confidence-heading {
    font-size: 0.88rem;
    margin-bottom: 3px;
}

.about-future-note-content {
    background-color: #F6F6F8;
    padding: 9px 9px 9px 15px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    font-style: italic;
    background-color: #B56FDB;
    color: white;
    opacity: 1;
}



/* Contact Page */

.contact-page-container {
    border: 1px solid gray;
    border-radius: 12PX;
    background-color: hsl(250, 30%, 97%);
    font-size: 0.82rem;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 26px;
}

.contact-page-detail {
    font-size: .8rem;
    margin-bottom: 12px;
    opacity: .6;
}

.contact-page-heading {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.form-group {
    margin-bottom: 12px;
}

.contact-page-form {
    background-color: #f1f1f7;
    padding: 12px;
    border-radius: 10px;
}

.contact-label {
    display: block;
    margin-bottom: 7px;

}

.contact-page-input {
    width: 100%;
    padding: 5px;
    padding-left: 12px;
    background-color: #dadae3;
    border: 1px solid #c4c3c3;
    border-radius: 7px;
    font-size: 0.72rem;
    opacity: .8;
}

.contact-page-input:focus {
    outline: 2px solid #a925f0;
}

.contact-page-input::placeholder {
    opacity: 0.7;
    font-weight: 100;
    font-size: 0.7rem;
    color: #686565;
}

.invalid {
    border: 1px solid red;
}

.error-message {
    margin-top: 1px;
    font-size: 0.7rem;
    padding-left: 3px;
    color: red;
}

.hidden {
    display: none;
}

.contact-textarea {
    width: 100%;
}

.contact-form-submit {
    background-color: #B56FDB;
    text-align: center;
    width: 100%;
    padding: 4px;
    border-radius: 7px;
    color: white;
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
}

.contact-form-submit:hover {
    cursor: pointer;
    background-color: #76329b;
}

.contact-form-submit:focus {
    outline: 2px solid #671095;
}

.thank-you-heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
}

.thank-you-content {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    font-size: 0.795rem;
}



@media (min-width: 768px) {
    .profile-card {
        max-width: 680px;
        display: flex;
        margin-top: 90px;
        margin-bottom: 20px;
    }

    .profile-card-header {
        width: 340px;
        border-top-left-radius:12px;
        border-bottom-left-radius: 12px;
        border-top-right-radius: 0;
        padding: 20px;
        font-size: 0.92rem;
    }

    .profile-user-avatar{
        margin-top: 70px;
    }

    .profile-user-time {
        font-size: 0.7rem;
    }

    .profile-user-bio {
        line-height: 1.5;
        font-size: 0.86rem;
    }

    .profile-user-social-list {
        gap: 18px;
    }

    .profile-user-social-item {
        font-size: 0.78rem;
    }

    .interests-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start; 
    }    

    .profile-user-hobbies,
    .profile-user-dislikes {
        width: 47%;
    }

    .hobbies-list,
    .dislikes-list {
        column-count: 1;  
    }

    .hobbies-list {
        margin-bottom: 0;
    }

    .hobbies-list li,
    .dislikes-list li {
        font-size: 0.83rem;
    } 

    .about-page-heading,
    .contact-page-heading {
        font-size: 1.7rem;
    }

    /* About Page */

    .about-page-container {
        max-width: 680px;
        padding-right: 0;
        font-size: 0.89rem;
        line-height: 1.5;
    }

    .about-heading {
        font-size: 1.2rem;
    }

    .back-link {
        font-size: 0.84rem;
    }

    .confidence-heading {
        font-size: 0.90rem;
    }

    .confidence-detail {
        font-size: 0.79rem;
    }

    /* Contact Page */

    .contact-page-container {
        max-width: 680px;
        font-size: 0.89rem;
    }

    .contact-page-detail {
        font-size: 0.89rem;
        margin-bottom: 20px;
    }

    .contact-page-heading {
        margin-bottom: 11px;
        font-size: 1.6rem;
    }

    .form-group {
        margin-bottom: 14px;
    }

    .contact-page-form {
        padding: 14px;
    }

    .contact-label {
        margin-bottom: 8px;

    }

    .contact-page-input {
        font-size: 0.72rem;
        opacity: .8;
    }

    .contact-page-input::placeholder {
        font-size: 0.82rem;
    }

    .error-message {
        font-size: 0.8rem;
    }

    .contact-form-submit {
        font-size: 0.9rem;
    }

    .thank-you-heading {
        font-size: 1.5rem;
        margin-bottom: 6px;
    }

    .thank-you-content {
        font-size: 0.85rem;
    }

}

@media (min-width: 1024px) {
    .profile-card {
        max-width: 880px;
    }

    .profile-card-header {
        width: 390px;
        font-size: 1.1rem;
    }

    .profile-user-time {
        font-size: 0.8rem;
    }

    .profile-user-avatar{
        margin-top: 55px;
    }


    .profile-card-content {
        padding: 28px;
    }

    .profile-user-bio {
        font-size: 0.9rem;
        line-height: 1.6;
        margin-bottom: 20px;
    }

    .profile-info-links {
        margin-bottom: 28px;
    }

    .profile-info-link-item {
        font-size: 0.85rem;
    }

    .social-title {
        font-size: 1.4rem;
    }

    .profile-user-social {
        margin-bottom: 32px;
    }

    .profile-user-social-item {
        font-size: 0.8rem;
    }

    .hobbies-title,
    .dislikes-title {
        font-size: 1.4rem;
    }

    .hobbies-list li,
    .dislikes-list li {
        font-size: 0.89rem;
    } 

     .about-page-heading,
     .contact-page-heading {
        font-size: 1.7rem;
    }

    /* About Page */


    .about-page-container {
        max-width: 880px;
        font-size: 0.91rem;
        line-height: 1.6;
    }

    .confidence-heading {
        font-size: 0.93rem;
    }

    .confidence-detail {
        font-size: 0.82rem;
    }

     .about-heading {
        font-size: 1.35rem;
    }

    /*Contact Page */

    .contact-page-container {
        max-width: 780px;
        font-size: 0.9rem;
    }

    .contact-page-detail {
        font-size: 0.9rem;
        margin-bottom: 24px;
    }

    .contact-page-heading {
        margin-bottom: 12px;
        font-size: 1.7rem;
    }

    .form-group {
        margin-bottom: 19px;
    }

    .contact-page-input {
        font-size: 0.78rem;
        opacity: .7;
    }

    .contact-page-input::placeholder {
        font-size: 0.83rem;
    }

    .error-message {
        font-size: 0.8rem;
    }

     .thank-you-heading {
        font-size: 1.8rem;
    }

    .thank-you-content {
        font-size: 0.98rem;
    }

   

}

